body{
    margin: 0;
    padding: 0;
}
#header{
    display:flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

#header div{
    margin: 15px 0;
    color: #3f3f3f;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    flex-direction: column;
}
#title{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}
#search-bar{
    height: 45px;
    margin-bottom: 15px;
    width: 500px;
    border-radius: 20px;
    padding: 0 15px;
    border: 1px solid rgba(128, 128, 128, 0.459);
}

.btn{
    background-color: #f2f2f2;
    color: #5f6368;
    outline: none;
    border: none;
    padding: 10px;
    margin: 0 10px;
}

.btn:hover{
    border: 1px solid black;
    background-color: #f7f7f7;
    color: black;
}

.g, .g-2{
    color: #4285f4;
}

.o, .e{
    color: #ea4335;
}

.o-2{
    color: #fbbc05;
}


.l{
    color: #34a853
}

.navigation{
    margin: 0 10px;
}
.navigation:hover{
    text-decoration: underline;
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.fa.fa-th {
    font-size: 20px;
    margin-right:15px;
    color: #727272;
}

#footer{
    background-color:#f2f2f2;
    position: fixed;
    bottom: 0;
    color: #717171;
    width: 100%;
}
#footer div{
    border-top: 1px solid #dbdbdb9d;
    height: 40px;
    display: flex;
    align-items: center;
}

#footer div a{
    margin-right: 20px;
}


#footer-buttons{
    display: flex;
    justify-content: space-between;
}

#footer-buttons a:hover{
    text-decoration: underline;
}

#footer-title{
    margin-left:25px;
}

#left-footer, #right-footer{
    margin:0 25px;
}